<div  style="display: flex; flex-direction: column;" >
<div style="display: flex; flex-direction: row; margin: auto;">
  <div> <h1>silent print form web browser </h1></div>



</div>
<div  style="display: flex; flex-direction: row; margin: auto;">
  <mat-form-field>
    <input matInput [formControl]="urlPdfFormWeb" required="true" />
  </mat-form-field>
  <div> <button mat-raised-button (click)="onTestPrinter()" color = "primary"> print test </button></div>

  <div style="margin-left: 24px; "> <button  mat-raised-button  color ="warn" (click)="onsetDefaultUrl()"> default url  </button></div>
</div>
</div>


